<?xml version="1.0"?>
<!--
/**
 * Girit Safecharge adminhtml routes config.
 *
 * @category Girit
 * @package  Girit_Safecharge
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="safecharge" frontName="safecharge">
            <module name="Girit_Safecharge" before="Magento_Backend" />
        </route>
    </router>
</config>